.about-grid {
    /* margin-top: 100px; */
    height: calc(100vh);
    /* margin-bottom: -450px; */
    /* border: 1px solid red; */
    overflow: auto;
    font-family: "Avenir";
}

.about-header {
    text-align: center;
    font-family: "Avenir Next";
    font-size: 30px;
    /* margin-bottom: -50px; */
}

.about-grid h2 {
    font-size: 30px;
    font-family: "Avenir Next";

}
.about-grid h5 {
    font-family: "Avenir Next";
}

.about-grid p {
    font-size: 15px;
}
/* #about-body {
    margin-bottom: 50px;
} */
p a {
    color: teal;
}

p a:hover {
    color: teal;
}

.skills-icon {
    max-width: 50px;
    max-height: 50px;
}



@media only screen and (max-width: 967px) {
    #skills-div {
        margin-top: 0;
    }

    .about-grid {
        height: auto;
    }
}

@media only screen and (min-width: 400px) {
    #skills-div {
        margin-top: auto;
    }
    .about-grid {
        height: auto;
    }
    
}